@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F3EEFF;
  --background-dark: #1E005D;
  --background-highlight: #D6C3FF;
  --primary: #3B00B9;
  --primary-dark: #1E005D;
  --text: #E2D4FF;
  --text-secondary: #AFA1CE;
  --text-dark: #1E005D;
  --text-light: #FFFFFF;
  --text-danger: #B30000;
  --highlight: #FBB13E;
}

body {
  font-family: "Circular Std", sans-serif;
  background-color: var(--background);
}
